@import "bootstrap/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ===== */
.hero-unit {padding: 40px;}
.hero-unit h1 {margin-bottom:18px;}
#hero-image { 
  float: right;
  padding: 12px;
  margin: -24px 0 12px 0; 
  max-width: 100%;
}
footer {text-align:right}










